<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container">
       <div>
           <h1>Hello world!</h1>
           <h2>Welcom: <%= user.fullname %></h2>
           <div>
               <form method="POST" action="/logout">
                   <button type="submit" class="btn btn-primary">Log out</button>
               </form>
           </div>
       </div>
    </div>
</div>
</body>
</html>
